**/.vscode/**
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/settings.json
!**/.vscode/extensions.json

**/tmp/
**/venv/
**/dist/
**/*.swp
**/build/
**/htmlcov/
**/.pytest_cache/
**/tests/results/
**/.ipynb_checkpoints/

.env
*egg*
.idea
*.zip
*.pyc
*_cache
*pycache
.history
.DS_Store
.coverage
!.gitkeep
.gitconfig
.env.local
__pycache__
Pipfile.lock
